<div class="sidebar">
    <h1>
        <div id="typed-strings">
          <p>Hello there</p>
          <p>Welcome to my portfli</p>
          <p>Welcome to my portfolio site</p>
        </div>
        <span id="typed"></span>
      </h1>
    
      {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
      {% endif %}
    
      <div class="social-media-btns">
        <ul>
          <li><a href="{{ site.github.owner_url }}"><i class="fa fa-github"></i></a></li>
          <li><a href="{{ site.linkedin_url }}"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="{{ site.xing_url }}"><i class="fa fa-xing"></i></a></li>
        </ul>
      </div>
</div>