---
---
$content-width: 1000px;
$base-font-family: "Hack Nerd Font", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$dm-text-color: #f5f5f5;

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

main {
    font-size: $base-font-size * 1.25;
}

.bio-photo {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.index-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em;
}

.site-header {
    border-top: none
}

.site-footer {
    padding: 0 0;
    line-height: $spacing-unit;
}

.social-media-list {
    li {
        a {
            border: none;
        }
    }
}

.copyright-statement {
    color: $dm-brand-color-light;
    font-size: $small-font-size;
    text-align: center;
}


// resume style
.resume-section {
    .resume-section-title::after {
        content: '';
        display: block;
        border-bottom: 0.01em solid $dm-brand-color-light;
    }

    .resume-item {
        margin: 1.5em 0 3em 0;

        .resume-item-header {
            margin-bottom: .5em;

            div {
                display: flex; 
                justify-content: space-between; 

                @media screen and (max-width: 600px) {
                    flex-direction: column-reverse;
                }

                .resume-item-title {
                    margin-bottom: 0;
                }
            
                .resume-item-year {
                    text-align: end;
                }
            }

            .resume-item-year, .resume-item-subtitle {
                color: $dm-brand-color-light;
            }
        }
    }
}