---
---

body {
    background-color: #181818;
    //color: whitesmoke;
}

h1, h2, h3, h4, h5, h6, section, .fa, nav a {
    color: whitesmoke;
    font-family: "Hack Nerd Font", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    height: 2em;
}

.social-media-btns {
    display: flex;
    justify-content: center;
}

.social-media-btns ul {
    display: flex;
    list-style: none;
}

.social-media-btns li {
    font-size: 48px;
    margin: 0 20px;
}

// .fa {
//     padding: 10px;
// }