---
layout: base
---

<section class="resume-section">
    <h2 class="resume-section-title">Education</h2>

    {% for item in site.data.education %}
    <div class="resume-item">
        <div class="resume-item-header">
            <div>
                <h3 class="resume-item-title">{{ item.degree }}</h3>
                <i class="resume-item-year">{{ item.year }}</i>
            </div>
            <i class="resume-item-subtitle">{{ item.university }}</i>
        </div>
        <p>{{ item.description }}</p>
    </div>
    {% endfor %}
</section>