---
layout: base
---

<section class="resume-section">
    <h2>Education</h2>

    {% for item in site.data.education %}
    <div style="margin: 1.5em 0 3em 0;">
        <div style="line-height: 0.75em;">
            <div style="display: flex; justify-content: space-between;">
                <h3>{{ item.degree }}</h3>
                <i>{{ item.year }}</i>
            </div>
            <p>{{ item.university }}</p>
        </div>
        <p>{{ item.description }}</p>
    </div>
    {% endfor %}
</section>