---
layout: base
---

{{ content }}

<section class="resume-section">
    <h2 class="resume-section-title">Skills</h2>
    <div class="resume-skill-section">
        {% for item in site.data.skills %}
            <span id="resume-skill-item-tag-{{ forloop.index }}" class="resume-item-tag resume-skill-item-tag" onclick='toggleItemDescription("resume-skill-item", "{{ forloop.index }}")'>{{ item.name }}</span>
        {% endfor %}
    </div>
    {% for item in site.data.skills %}
        <p id="resume-skill-item-description-{{ forloop.index }}" class="resume-skill-item-description hidden">{{ item.description }}</p>
    {% endfor %}
</section>

<section class="resume-section">
    <h2 class="resume-section-title-right">Experience</h2>
    {% for item in site.data.experience %}
        {% include resume-item.html 
            title=item.role 
            year=item.year
            subtitle=item.company
            tags=item.tags
            description=item.description
        %}
    {% endfor %}
</section>

<section class="resume-section">
    <h2 class="resume-section-title">Education</h2>
    {% for item in site.data.education %}
        {% include resume-item.html 
            title=item.degree 
            year=item.year
            subtitle=item.university
            tags=item.tags
            description=item.description
        %}
    {% endfor %}
</section>